<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mensaje & Redirección</title>
    </head>
    <body>
        <h1 th:text="${mensaje}">${mensaje}</h1>
        <div>Redireccionando en 3 segundos a:</div>
        <div id="url" th:text="${redirect}">http://localhost:8080/</div>
    </body>
    <script>
        setInterval(function () {
            url = this.getUrl();
            window.location.href = url;
        }, 3000);

        function getUrl(){
            return document.querySelector("#url").textContent;
        }
    </script>
</html>