<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje & Redirección</title>
    <style>
        body{ background-color: yellow; }
        h1{ font-size: 2em; text-align: center; }
        div{ text-align: center; }
    </style>
</head>

<body>
    <h1 th:text="${mensaje}">${mensaje}</h1>
    <div>Redireccionando a: <a id="url" th:href="${redirect}" th:text="${redirect}">url</a></div>
    <div id="miliseconds" th:text="${miliseconds}"></div>
</body>
<script>
    setInterval(() => {
        let sec = document.querySelector("#miliseconds").textContent;
        setInterval(function () {
            let url = document.querySelector("#url").textContent;    
            window.location.href = url;
        }, sec);
    }, 100);
</script>

</html>