
<form th:fragment="formLogin" th:object="${usuario}" th:action="@{/saveUsuario}" class="bg-white d-inline-flex border ml-1">
    <fieldset>
        <legend>Inicia sesión</legend>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.alias}" name="login" placeholder="usuario o mail">
        </div>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.pass}" type="password" name="pass" placeholder="contraseña">
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Iniciar Sesion">
        </div>
        <div class="mb-3">
            <a href="#">¿Olvidaste constraseña?</a>
        </div>
    </fieldset>
</form>

<form th:fragment="formRegister" th:object="${usuario}" th:action="@{/register}" class="bg-white d-inline-flex border">
    <fieldset>
        <legend>¿No tienes cuenta?</legend>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.alias}" name="alias" placeholder="Nick de usuario">
        </div>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.nombre}" name="alias" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.apellidos}" name="apellidos" placeholder="apellidos">
        </div>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.pass}" name="pass" placeholder="contraseña">
        </div>
        <div class="mb-3">
            <input class="form-input" th:value="${usuario.pass}" name="pass" placeholder="contraseña">
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Registrate">
        </div>
        <div class="mb-3">
            <a href="#">¿Olvidaste constraseña?</a>
        </div>
    </fieldset>
</form>