<div class="container">
	<h1>Lista de ofertas:</h1>
	<div class="card-body">
		<div class="card col-sm-4 p-3 m-3" style=" border-radius: 12px; display: inline-flex !important; " th:each=" oferta : ${listaProductos}">
			<h2 class="card-title" th:text="${oferta.titulo}">Card title</h2>
			<img style="border-radius: 12px;" class="mb-3" th:alt="${oferta.imagenes}" th:src="@{'/RecursosBack/'} + ${oferta.imagenes}">
			<p style="max-height: 2rem; overflow: hidden;" th:class="card-text" th:text="${oferta.descripcion}"></p>
			<h3 style="text-align: right;" th:text="${oferta.precio} + '$'"></h3>
			<a href="#" class="btn btn-primary">Reservar</a>
		</div>
	</div>
</div>

<!--
</body>

</html>


<h1>Lista de ofertas:</h1>

<div class="row align-items-start">
	<div class="col">
		th:each="oferta : ${listaProductos}">
		<div class="card-body">
			<h5 class="card-title" th:text="${oferta.titulo}">Titulo</h5>
			<img th:alt="${oferta.imagenes}" th:src="@{'/RecursosBack/'} + ${oferta.imagenes}">
			<p class="card-text" th:text="$oferta.descripcion"></p>
			<p class="card-text" th:text="${oferta.precio}"></p>
		</div>
-->