<div class="container">
	<h1>Lista de ofertas:</h1>
	<div class="card-body">
		<div class="card col-sm-4 p-1 m-2" th:each=" oferta : ${listaProductos}">
			<h2 class="card-title" th:text="${oferta.titulo}">Card title</h2>
			<img th:alt="${oferta.imagenes}" th:src="@{'/RecursosBack/'} + ${oferta.imagenes}">
			<p th:class="card-text" th:text="${oferta.descripcion}"></p>
			<div th:text="${oferta.precio} + '$'"></div>
			<a href="#" class="btn btn-primary">Reservar</a>
		</div>
	</div>
</div>

<!--
</body>

</html>


<h1>Lista de ofertas:</h1>

<div class="row align-items-start">
	<div class="col">
		th:each="oferta : ${listaProductos}">
		<div class="card-body">
			<h5 class="card-title" th:text="${oferta.titulo}">Titulo</h5>
			<img th:alt="${oferta.imagenes}" th:src="@{'/RecursosBack/'} + ${oferta.imagenes}">
			<p class="card-text" th:text="$oferta.descripcion"></p>
			<p class="card-text" th:text="${oferta.precio}"></p>
		</div>
-->