<h1>ERROR: No deberías poder entrar aquí</h1>
<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>Actualizar Producto</h3>
	<hr />
	<form th:action="@{/modificaProducto}" th:object="${updateOferta}" method="post" 
	 enctype="multipart/form-data">
		<p class="text">
			<label></label> <input type="hidden" th:field="*{id}" />
		</p>
		<p class="text">
			<label>Titulo:</label> <input type="text" th:field="*{titulo}" />
		</p>
		<p class="text">
			<label>Descripcion:</label> <input type="text" th:field="*{descripcion}" />
		</p>
		<p class="text">
			<label>Precio:</label> <input type="text" th:field="*{precio}" />
		</p>
		
		<img th:alt="${updateOferta.imagenes}" th:src="@{'/RecursosBack/'} + ${updateOferta.imagenes}">
		<p><input type="file" name="file" ></p>
		
		<p>
			<input type="submit" value="Modificar" />	
		</p>
	</form>
	
</body>
</html> -->